<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet">

</head>
<body>


<div class="container">
    {%if step==1%}
    <div class="mx-auto" style="text-align: center"><h2>Выберите форму кухни</h2>
        <form method="post">
            <div class="row">
                <div class="col-1"></div>
                <div class="step-item col-5">
                    <input type="radio" name="step1" value="uglovaya_levaya" onclick="submit()">

                    <span class="kwiz-block__step-item-image">
										<img src="/static/img/calc/shag1/uglovaya_levaya.webp" alt="">

									<span class="kwiz-block__step-item-name">
										Угловая (левая)
									</span>
								</span>
                </div>
                <div class="step-item col-5">
                    <input type="radio" name="step1" value="uglovaya_pravaya" onclick="submit()">

                    <span class="kwiz-block__step-item-image">
										<img src="/static/img/calc/shag1/uglovaya_pravaya.webp" alt="">

									<span class="kwiz-block__step-item-name">
										Угловая (правая)
									</span>
								</span>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="step-item col-5">
                    <input type="radio" name="step1" value="p_obraznaya" onclick="submit()">

                    <span class="kwiz-block__step-item-image">
										<img src="/static/img/calc/shag1/p_obraznaya.webp" alt="">

									<span class="kwiz-block__step-item-name">
										П-Образная
									</span>
								</span>
                </div>
                <div class="step-item col-5">
                    <input type="radio" name="step1" value="premaya" onclick="submit()">

                    <span class="kwiz-block__step-item-image">
										<img src="/static/img/calc/shag1/premaya.webp" alt="">

									<span class="kwiz-block__step-item-name">
										Прямая
									</span>
								</span>
                </div>

            </div>
        </form>
    </div>
    <div class="row">
        <table style="font-size:80%" class="primer_rascheta">
            <tr>
                <td colspan="2" id="primer_text">Пример расчета</td>
            </tr>
            <tr>
                <td class="col1">Форма кухни</td>
                <td class="col2">Угловая (левая)</td>
            </tr>
            <tr>
                <td class="col1">L1</td>
                <td class="col2">300 см</td>
            </tr>
            <tr>
                <td class="col1">L2</td>
                <td class="col2">200 см</td>
            </tr>
            <tr>
                <td class="col1">Распол. холодильника</td>
                <td class="col2">Стоит отдельно</td>
            </tr>
            <tr>
                <td class="col1">Планировка</td>
                <td class="col2">Шкафы по L1 и L2</td>
            </tr>
            <tr>
                <td class="col1">Вид шкафов</td>
                <td class="col2">Стандартные</td>
            </tr>
            <tr>
                <td class="col1">Нижние шкафы</td>
                <td class="col2">Эконом</td>
            </tr>
            <tr>
                <td class="col1">Фасад</td>
                <td class="col2">МДФ в пленке ПВХ</td>
            </tr>
            <tr>
                <td class="col1">Столешница</td>
                <td class="col2">Эконом</td>
            </tr>
            <tr>
                <td class="col1">Фартук</td>
                <td class="col2">
                    ДСП в пластике
                </td>
            </tr>
            <tr>
                <td class="col1">Холодильник</td>
                <td class="col2">Обычный</td>
            </tr>
            <tr>
                <td class="col1">Духовка</td>
                <td class="col2">Под варочной панелью</td>
            </tr>

            <tr>
                <td class="col1">Вытяжка</td>
                <td class="col2">Встроенная</td>
            </tr>
            <tr>
                <td colspan="2" id="primer_cena">83 000 - 103 000 руб.</td>
            </tr>
        </table>
    </div>
    {%endif%}

    <div class="row col-12 mx-auto">


        <h2>{{header_text}}</h2>

        <div class="pict mx-auto">
            <!-- шаг1 начало-->
            {%if step==2%}
            <div>
                {%if posudomoika==1%}
                <img src="/static/img/calc/shag2/posud/posud-da.webp" alt="">
                {%elif posudomoika==0%}
                <img src="/static/img/calc/shag2/posud/posud-net.webp" alt="">
                {%else%}
                <img src="/static/img/calc/shag2/tecnik-first.webp" alt="">
                {%endif%}
            </div>
            {%endif%}
            <!-- шаг1 конец-->
            <!-- шаг2.1 начало-->
            {%if step>0%}
            <div>
                <img src="/static/img/calc/{{pict}}" alt="">
            </div>
            {%endif%}

        </div>
        <h4 class="mx-auto">{{oborud}}</h4>
        <div class="row"></div>

        {%if step in [2,2.1,2.2,2.3,2.4]%}
        <form method="post">

            <div class="row question mx-auto">
                {%if step==2%}
                <div class="col-5"><img src="/static/img/calc/shag2/posud/posudomoika.webp" alt="" class="posud">
                </div>
                {%endif%}

                {%if step==2.1%}
                <div class="col-5"><img src="/static/img/calc/shag2/duhovka/duhovka.webp" alt="" class="posud"></div>
                {%endif%}
                {%if step==2.2%}
                <div class="col-5"><img src="/static/img/calc/shag2/vitag/vitag.webp" alt="" class="posud"></div>
                {%endif%}
                {%if step==2.3%}
                <div class="col-5"><img src="/static/img/calc/shag2/micro/micro.webp" alt="" class="posud"></div>
                {%endif%}
                {%if step==2.4%}
                <div class="col-5"><img src="/static/img/calc/shag2/holod/holod.webp" alt="" class="posud w-25" ></div>
                {%endif%}

                <div class="col-5">
                    {%if step==2%}
                    {%if posudomoika==1%}
                    <span>Да<input type="radio" name="posudomoika" value="da" onclick="submit()"
                                   checked>  </span>
                    <br>
                    <span>Нет<input type="radio" name="posudomoika" value="net" onclick="submit()"></span>
                    {%elif posudomoika==0%}
                    <span>Да<input type="radio" name="posudomoika" value="da" onclick="submit()">  </span>
                    <br>
                    <span>Нет<input type="radio" name="posudomoika" value="net" onclick="submit()"
                                    checked></span>
                    {%else%}
                    <span>Да<input type="radio" name="posudomoika" value="da" onclick="submit()">  </span>
                    <br>
                    <span>Нет<input type="radio" name="posudomoika" value="net" onclick="submit()"></span>
                    {%endif%}
                    {%endif%}
                    {%if step==2.1%}
                    <div>
                        {%if duhovka=='penal'%}
                        <span>В пенале<input type="radio" name="duhovka" value="penal" onclick="submit()"
                                             checked></span>
                        <br>
                        <span>В низу<input type="radio" name="duhovka" value="vstr" onclick="submit()"></span>
                        <br>
                        <span>Отдельная<input type="radio" name="duhovka" value="otd" onclick="submit()"></span>

                        {%elif duhovka=='vstr'%}
                        <span>В пенале<input type="radio" name="duhovka" value="penal" onclick="submit()"></span>
                        <br>
                        <span>В низу<input type="radio" name="duhovka" value="vstr" onclick="submit()"
                                           checked></span>
                        <br>
                        <span>Отдельная<input type="radio" name="duhovka" value="otd" onclick="submit()"></span>
                        {%elif duhovka=='otd'%}
                        <span>В пенале<input type="radio" name="duhovka" value="penal" onclick="submit()"></span>
                        <br>
                        <span>В низу<input type="radio" name="duhovka" value="vstr" onclick="submit()"></span>
                        <br>
                        <span>Отдельная<input type="radio" name="duhovka" value="otd" onclick="submit()"
                                              checked></span>
                        {%else%}
                        <span>В пенале<input type="radio" name="duhovka" value="penal" onclick="submit()"></span>
                        <br>
                        <span>В низу<input type="radio" name="duhovka" value="vstr" onclick="submit()"></span>
                        <br>
                        <span>Отдельная<input type="radio" name="duhovka" value="otd" onclick="submit()"></span>
                        {%endif%}
                    </div>
                    {%endif%}
                    {%if step==2.2%}
                    <div>

                        {%if vitag=='vstr'%}
                        <span>Встроенная<input type="radio" name="vitag" value="vstr" onclick="submit()"
                                               checked>  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="vitag" value="otd" onclick="submit()"></span>
                        {%elif vitag=='otd'%}
                        <span>Встроенная<input type="radio" name="vitag" value="vstr" onclick="submit()"
                        >  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="vitag" value="otd" onclick="submit()" checked></span>
                        {%else%}
                        <span>Встроенная<input type="radio" name="vitag" value="vstr" onclick="submit()">  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="vitag" value="otd" onclick="submit()"></span>

                        {%endif%}
                    </div>
                    {%endif%}
                    {%if step==2.3%}
                    <div>

                        {%if micro=='vstr'%}
                        <span>Встроенная<input type="radio" name="micro" value="vstr" onclick="submit()"
                                               checked>  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="micro" value="otd" onclick="submit()"></span>
                        <span>Нет<input type="radio" name="micro" value="net" onclick="submit()"></span>
                        {%elif micro=='otd'%}
                        <span>Встроенная<input type="radio" name="micro" value="vstr" onclick="submit()"
                        >  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="micro" value="otd" onclick="submit()" checked></span>
                        <span>Нет<input type="radio" name="micro" value="net" onclick="submit()"></span>
                        {%elif micro=='net'%}
                        <span>Встроенная<input type="radio" name="micro" value="vstr" onclick="submit()"
                        >  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="micro" value="otd" onclick="submit()"></span>
                        <span>Нет<input type="radio" name="micro" value="net" onclick="submit()" checked></span>

                        {%else%}
                        <span>Встроенная<input type="radio" name="micro" value="vstr" onclick="submit()">  </span>
                        <br>
                        <span>Отдельная<input type="radio" name="micro" value="otd" onclick="submit()"></span>
                        <span>Нет<input type="radio" name="micro" value="net" onclick="submit()"></span>

                        {%endif%}
                    </div>
                    {%endif%}
                    {%if step==2.4%}
                    <div>

                        {%if holod=='vstr'%}
                        <span>Встроенный<input type="radio" name="holod" value="vstr" onclick="submit()"
                                               checked>  </span>
                        <br>
                        <span>Широкий<input type="radio" name="holod" value="shir" onclick="submit()"></span>
                        <span>Отдельный<input type="radio" name="holod" value="otd" onclick="submit()"></span>
                        {%elif holod=='otd'%}
                        <span>Встроенный<input type="radio" name="holod" value="vstr" onclick="submit()"
                        >  </span>
                        <br>
                        <span>Широкий<input type="radio" name="holod" value="shir" onclick="submit()" ></span>
                        <span>Отдельный<input type="radio" name="holod" value="otd" onclick="submit() checked"></span>
                        {%elif holod=='shir'%}
                        <span>Встроенный<input type="radio" name="holod" value="vstr" onclick="submit()"
                        >  </span>
                        <br>
                        <span>Широкий<input type="radio" name="holod" value="shir" onclick="submit()" checked></span>
                        <span>Отдельный<input type="radio" name="holod" value="otd" onclick="submit()"></span>


                        {%else%}
                        <span>Встроенный<input type="radio" name="holod" value="vstr" onclick="submit()">  </span>
                        <br>
                        <span>Широкий<input type="radio" name="holod" value="shir" onclick="submit()"></span>
                        <span>Отдельный<input type="radio" name="holod" value="otd" onclick="submit()"></span>


                        {%endif%}
                    </div>
                    {%endif%}

                </div>
            </div>
        </form>
        {%endif%}
        {%if step>=3%}
        <form method="post">
        <div class="row sub_pict">
            <div class="col-6"><input type="radio" name="verh_sk"><img src="{{sub_pict['pict1_1']}}" alt=""></div>
            <div class="col-6"><img src="{{sub_pict['pict2_1']}}" alt=""></div>
        </div>
        <div class="row sub_pict">
            <div class="col-6"><img src="{{sub_pict['pict2_1']}}" alt=""></div>
            <div class="col-6"><img src="{{sub_pict['pict2_2']}}" alt=""></div>
        </div>
            {%if type_kitchen=='p_obraznaya'%}
            <div class="row sub_pict">
            <div class="col-6"><img src="{{sub_pict['pict3_1']}}" alt=""></div>
            <div class="col-6"><img src="{{sub_pict['pict3_2']}}" alt=""></div>
        </div>
        <div class="row sub_pict">
            <div class="col-6"><img src="{{sub_pict['pict4_1']}}" alt=""></div>

        </div>
            {%endif%}
            </form>
        {%endif%}
        <div class="row">
            {{step}}
            <form method="post">

                {%if step==2.0%}
                <input type="hidden" name="posud" value="{{posudomoika}}">
                {%elif step==2.1%}
                <input type="hidden" name="duhovka" value="{{duhovka}}">
                {%elif step==2.2%}
                <input type="hidden" name="vitag" value="{{vitag}}">
                {%elif step==2.3%}
                <input type="hidden" name="micro" value="{{micro}}">
                {%elif step==2.4%}
                <input type="hidden" name="holod" value="{{holod}}">
                {%else%}
                oops
                {%endif%}
                {%if step in [2.0,2.1,2.2,2.3,2.4]%}
                <input type="hidden" name="duhovka" value="{{duhovka}}">
                <input type="hidden" name="vitag" value="{{vitag}}">
                <input type="hidden" name="micro" value="{{micro}}">
                <input type="hidden" name="holod" value="{{holod}}">
                <button class='back' type="submit" name="save" value="{{step}}">Далее</button>
                <button class='back' type="submit" name="back" value="{{step}}">Назад</button>
                {%endif%}

            </form>
        </div>

    </div>
</div>


</body>
</html>